Prediction using autoai/flows.json
[{"id":"2eb0c63a.4a8282","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f800cf53.f42e6","type":"ui_form","z":"2eb0c63a.4a8282","name":"","label":"","group":"32aa5995.993e86","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"Country","type":"text","required":true,"rows":null},{"label":"Year","value":"Year","type":"number","required":true,"rows":null},{"label":"Status","value":"Status","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"AM","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"idt","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"Alcohol","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"HepatitisB","type":"number","required":true,"rows":null},{"label":"Measles ","value":"Measles ","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"d","type":"number","required":true,"rows":null},{"label":"Polio","value":"Polio","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"Te","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"Diphtheria ","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":" HIV","type":"number","required":true,"rows":null},{"label":"GDP","value":"GDP","type":"number","required":true,"rows":null},{"label":"Population","value":"Population","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"t1_19","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"t5_9","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"Ic","type":"number","required":true,"rows":null},{"label":"Schooling","value":"Schooling","type":"number","required":true,"rows":null}],"formValue":{"Country":"","Year":"","Status":"","AM":"","idt":"","Alcohol":"","pe":"","HepatitisB":"","Measles ":"","BMI":"","d":"","Polio":"","Te":"","Diphtheria ":""," HIV":"","GDP":"","Population":"","t1_19":"","t5_9":"","Ic":"","Schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":340,"wires":[["ae41a0f8.e9c12"]]},{"id":"ae41a0f8.e9c12","type":"function","z":"2eb0c63a.4a8282","name":"","func":"global.set(\"Country\",msg.payload.Country)\nglobal.set(\"Year\",msg.payload.Year)\nglobal.set(\"Status\",msg.payload.Status)\nglobal.set(\"AM\",msg.payload.AM)\nglobal.set(\"idt\",msg.payload.idt)\nglobal.set(\"Alcohol\",msg.payload.Alcohol)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"HepatitisB\",msg.payload.HepatitisB)\nglobal.set(\"Measles\",msg.payload.Measles )\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"Polio\",msg.payload.Polio)\nglobal.set(\"Te\",msg.payload.Te)\nglobal.set(\"Diphtheria\",msg.payload.Diphtheria )\nglobal.set(\"HIV\",msg.payload.HIV)\nglobal.set(\"GDP\",msg.payload.GDP)\nglobal.set(\"Population\",msg.payload.Population)\nglobal.set(\"t1_19\",msg.payload.t1_19 )\nglobal.set(\"t5_9\",msg.payload.t5_9)\nglobal.set(\"Ic\",msg.payload.Ic)\nglobal.set(\"Schooling\",msg.payload.Schooling)\nvar apikey=\"fNyrDbklMnG9B9QSuJm8k_BrJ5N79n1EjyTpNt54veHp\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":220,"wires":[["6eb2b5fb.48cebc"]]},{"id":"6eb2b5fb.48cebc","type":"http request","z":"2eb0c63a.4a8282","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":180,"wires":[["4264bf02.079ef8"]]},{"id":"4264bf02.079ef8","type":"function","z":"2eb0c63a.4a8282","name":"pre prediction","func":"var Country = global.get('Country')\nvar Year = global.get('Year')\nvar status = global.get('Status')\nvar AM = global.get('AM')\nvar idt = global.get('idt')\nvar Alcohol= global.get('Alcohol')\nvar Pe = global.get('Pe')\nvar HepatitisB = global.get('HepatitisB')\nvar Measles = global.get('Measles')\nvar BMI = global.get('BMI')\nvar d = global.get('d')\nvar Polio = global.get('Polio')\nvar Te = global.get('Te')\nvar Diphtheria = global.get('Diphtheria')\nvar HIV = global.get('HIV')\nvar GDP = global.get('GDP')\nvar Population = global.get('Populatio')\nvar t1_19 = global.get('t1_19')\nvar t5_9 = global.get('t5_9')\nvar Ic=global.get('Ic')\nvar Schooling = global.get('Schooling')\nvar token=msg.payload.access_token\nvar instance_id=\"989184fd-14f3-4a3a-a2a9-01bfd1e3fdaf\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\":[[Country,Year,status,AM,idt,Alcohol,Pe,HepatitisB,Measles,BMI,d,Polio,Te,Diphtheria,HIV,GDP,Population,t1_19,t5_9,Ic,Schooling]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":280,"wires":[["d0067ef5.36f16"]]},{"id":"d0067ef5.36f16","type":"http request","z":"2eb0c63a.4a8282","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f9a52924-ecb8-4cea-8372-268c321cba66/predictions","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":200,"wires":[["a485d42e.82d7b","b4f96a4.d793598"]]},{"id":"b4f96a4.d793598","type":"debug","z":"2eb0c63a.4a8282","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":360,"wires":[]},{"id":"a485d42e.82d7b","type":"function","z":"2eb0c63a.4a8282","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":140,"wires":[["a79ccac0.84003"]]},{"id":"a79ccac0.84003","type":"ui_text","z":"2eb0c63a.4a8282","group":"e9c8483d.9bf098","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":80,"wires":[]},{"id":"db791379.dcf8a","type":"inject","z":"2eb0c63a.4a8282","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":120,"wires":[["ae41a0f8.e9c12"]]},{"id":"32aa5995.993e86","type":"ui_group","z":"","name":"Default","tab":"259cb6f.d34594a","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9c8483d.9bf098","type":"ui_group","z":"","name":"Default","tab":"259cb6f.d34594a","order":2,"disp":true,"width":"6","collapse":false},{"id":"259cb6f.d34594a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]